<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <img class="footer-logo" src="dist/assets/img/fs-logo.png">
                <br><br>
                <div class="text-widget">
                    <span>Ulica slovenske osamosvojitve 2</span> <br>
                    <span>2000 Maribor</span><br>
                    <span>Slovenija</span><br>
                    <!--Phone: <span>(123) 123-456 </span><br>-->
                    E-Mail:<span> <a class="active" href="#">info@fsresitve.si</a> </span><br>
                </div>
                <!--<ul class="social-icons margin-top-20">
                    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                </ul>-->
            </div>
        </div>
        <div class="copyrights">
            ©{{currentYear}} SampleDev. Vse pravice pridržane.
        </div>
    </div>
</footer>