<section class="not-found-wrapper center">
    <h2>404 <i class="sl sl-icon-question"></i></h2>
    <p>Hm … želene strani ni mogoče najti?!</p>
    <!-- Search -->
    <!--<div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <main-search></main-search>
        </div>
    </div>-->
    <div class="d-flex justify-content-center">
        <a class="btn btn-link btn-pink btn-lg" uiSref="home">
            Domov
        </a>
        <a class="btn btn-pink btn-lg" uiSref="search">
            Iskanje
        </a>
    </div>
    <!-- Search Section / End -->
</section>