@import "~styles/partials/variables";

.file-dropzone-container {
    border: 3px dashed $celeste-grey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;

    &.drag-valid {
        border-color: $green;
    }

    &.drag-invalid {
        border-color: $red;
    }

    h2 {
        text-align: center;
    }
}