@import "~styles/partials/modules/media-queries";
@import "~styles/partials/variables";

.home-page-wrapper {
    .page-section-wrapper {
        margin-top: 25px;
    }

    .btn {
        margin-top: 25px;
    }

    .relative {
        position: relative;
    }
}
