<header class="header-fixed">
    <!-- Header -->
    <div class="header-wrapper">
        <div class="container clearfix">
            <!-- Left Side Content -->
            <!-- Logo -->
            <div class="logo">
                <a uiSref="home">
                    <img src="dist/assets/img/fs.logo.png" />
                </a>
            </div>
            <nav class="navigation style-1">
                <ul id="responsive">
                    <li>
                        <a uiSref="home" uiSrefActive="current">
                            Domov
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Header / End -->
    </div>
</header>