@import "~styles/partials/modules/media-queries";
@import "~styles/partials/variables";

header {
    &.header-fixed {
        .header-wrapper {
            background-color: $dove-gray;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
        }
    }

    .header-wrapper {
        position: relative;
        z-index: 999;
        padding: 18px 0;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
        font-size: 16px;
    }

    .left-side {
        float: left;
        width: 65%;
        display: inline-block;
    }

    .right-side {
        float: right;
        width: 35%;
        display: inline-block;
    }

    .logo {
        display: inline-block;
        float: left;
        margin-right: 50px;
        margin-top: 3px;

        img {
            max-height: 38px;
            width: auto;
            transform: translate3d(0,0,0);
        }
    }

    .navigation {
        display: block;
        float: left;
        position: relative;


        ul {
            list-style: none;
            position: relative;
            float: left;
            margin: 0;
            padding: 0;

            a {
                display: block;
                text-decoration: none;
            }

            li {
                position: relative;
                float: left;
                margin: 0;
                padding: 0;

                ul {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    padding: 0;
                    z-index: 99999;
                }

                &:hover {
                    > ul {
                        opacity: 1;
                        visibility: visible;
                        transform: translate3d(0, 0, 0);
                    }

                    ul a {
                        padding: 5px 40px 5px 15px !important;
                        line-height: 24px !important;
                    }
                }

                a {
                    & > .sl {
                        font-size: 10px;
                        font-weight: $bold;
                        opacity: 0.5;
                        padding-left: 7px;
                    }

                    &:only-child:after {
                        content: '';
                        padding: 0;
                    }
                }
            }

            ul {
                box-sizing: border-box;
                margin: 10px 0 0 15px;
                background-color: #fff;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
                border-radius: 4px;
                font-size: 15px;
                opacity: 0;
                padding: 12px 10px;
                visibility: hidden;
                transition: all 0.25s;
                transform: translate3d(0, 15px, 0);

                li {
                    float: none;
                    border-radius: 4px;
                    width: 180px;

                    a {
                        &:after {
                            font-family: FontAwesome;
                            opacity: 0.5;
                            content: '\f105';
                            position: absolute;
                            right: 15px;
                            top: 7px;
                            opacity: 0.5;
                            transition: all 0.25s;
                            transform: translateX(-5px);
                        }

                        &:only-child:after {
                            content: '';
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                        border-radius: 0 0 4px 4px;
                    }

                    &:hover {
                        border-radius: 0;

                        a:after {
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }

                    &:first-child {
                        border-radius: 4px 4px 0 0;
                    }
                }

                ul {
                    top: 0;
                    left: 100%;
                    margin: 0;

                    &:after {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 100%;
                        left: -10px;
                        top: 0;
                        opacity: 0;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: -10px;
                    background: rgba(255, 255, 255, 0);
                    width: 100%;
                    height: 10px;
                }

                a {
                    padding: 5px 40px 5px 15px !important;
                    line-height: 24px !important;
                }
            }
        }

        &.style-1 {
            margin-top: 1px;

            ul {
                li {
                    transition: all 0.25s;
                    margin: 0 5px;

                    a {
                        color: #444;
                        cursor: pointer;

                        &:hover,
                        &.current {
                            background-color: transparent;
                            color: white;
                            font-weight: $bold;

                            &:after {
                                opacity: 1;
                            }
                        }
                    }
                }

                a {
                    line-height: 32px;
                    padding: 5px 15px;
                }

                ul li {
                    opacity: 0.8;
                    margin: 0;
                    border-radius: 0;

                    &:hover {
                        opacity: 1;
                    }

                    &:first-child {
                        border-radius: 4px 4px 0 0;
                    }

                    &:last-child {
                        border-radius: 0 0 4px 4px;
                    }
                }
            }
        }
    }

    .header-widget {
        float: right;
        position: relative;
        top: -1px;
        height: 54px;

        .button {
            margin-right: 0;
            min-width: 130px;
            text-align: center;
            position: relative;
            line-height: 26px;
            font-weight: 500;

            i {
                font-size: 17px;
                padding: 0 0 0 4px;
                top: 2px;
                display: inline-block;
                position: relative;
            }
        }
    }

    @include respond-to(tablet) {
        .navigation {
            display: none;
        }
    }
}